	------
	Maven Traceability Matrix Example
	------
	Myk Kolisnyk
	------
	2014-06-04

Customizing Reports Directory

	Due to different configuration reasons there may be a need to get input from non-default directory.
	In order to do this we should define <<outputDirectory>> parameter.
	The sample <<pom.xml>> fragment shows how to generate such report:
	
+------+
<project>
	...
	<!-- To use the report goals in your POM or parent POM -->
	<reporting>
		<plugins>
			<plugin>
				<groupId>com.github.mkolisnyk</groupId>
				<artifactId>muto</artifactId>
				<version>${project.version}</version>
				<configuration>
					<outputDirectory>src/test/resources/reporting</outputDirectory>
				</configuration>
			</plugin>
		</plugins>
	</reporting>
	...
</project>
+------+

